<h5>Next of Kin</h5>
<div class="row">
  <div class="col-xl-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>ID No.</th>
            <th>Relationship</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4">
              <p>No records to display</p>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>