<h4>User Details</h4>
<div class="row" [formGroup]="userDetailsForm">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">First Name:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Surname:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="surName" formControlName="surName">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Email Address:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="emailAddress" formControlName="emailAddress">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Contact No:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="contactNo" formControlName="contactNo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>