<div class="row manage-employee-tabs">
  <div class="col-sm-12">
    <ngb-tabset>
      <ngb-tab title="Downloads">
        <ng-template ngbTabContent>
          <app-card [title]="'Downloads'" [showBreadcrumbs]="true" [titleIcon]="'fa fa-cog'" [@fadeInOutTranslate]
            [cardOptionBlock]="false" class="m-t-15 cardBlock">
            <div class="row">
              <div class="col-md-8">
                <h4>Downloads</h4>
              </div>
              <div class="col-md-4 text-right">
                <select class="form-control form-control-primary" [(ngModel)]="selectedDownloadCategory">
                  <option *ngFor="let category of downloadCategories" [ngValue]="category.name">{{ category.name }}</option>
                </select>
              </div>
            </div>
            <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'663px'">
              <div class="row">
                <div class="col-md-12">
                  <ngx-datatable class='data-table' [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50"
                    [footerHeight]="0" [rowHeight]="50" [rows]='downloadsList' #downloadsListTable>
                    <ngx-datatable-column [name]="selectedDownloadCategory" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row['fileName']}}
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </perfect-scrollbar>
          </app-card>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>