<div class="row manage-employee-tabs">
  <div class="col-sm-12">
    <ngb-tabset>
      <ngb-tab title="Restricted Employee List">
        <ng-template ngbTabContent>
          <app-card [title]="'Restricted Employee List'" [showBreadcrumbs]="true" [titleIcon]="'icofont-users'"
            [@fadeInOutTranslate] [cardOptionBlock]="false" class="m-t-15 cardBlock">
            <app-employee-restricted-list></app-employee-restricted-list>
          </app-card>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Restricted Vendor List">
        <ng-template ngbTabContent>
          <app-card [title]="'Restricted Vendor List'" [showBreadcrumbs]="true" [titleIcon]="'icofont-users'"
            [@fadeInOutTranslate] [cardOptionBlock]="false" class="m-t-15 cardBlock">
            <app-vendor-restricted-list></app-vendor-restricted-list>
          </app-card>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>