<div class="page-body">
  <div class="row">
    <!-- Grid Options card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Audit Trail</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>While Bootstrap uses <code class="highlighter-rouge">em</code>s or <code class="highlighter-rouge">rem</code>s for defining most sizes, <code class="highlighter-rouge">px</code>s are used for grid
            breakpoints and container widths. This is because the viewport width is in pixels and does not change with the <a href="https://drafts.csswg.org/mediaqueries-3/#units" target="_blank">font size</a>.</p>
          <p>See how aspects of the Bootstrap grid system work across multiple devices with a handy table.</p>
          
        </div>
      </div>
    </div>
    <!-- Grid Options card end -->

    
  </div>
</div>
