<div class="row manage-employee-tabs">
  <div class="col-sm-12">
    <ngb-tabset>
      <ngb-tab title="Manage User">
        <ng-template ngbTabContent>
          <app-card [title]="'Manage User'" [showBreadcrumbs]="true" [titleIcon]="'fa fa-cog'"
            [@fadeInOutTranslate] [cardOptionBlock]="false" class="m-t-15 cardBlock">
            <app-users-list></app-users-list>
          </app-card>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Add User">
        <ng-template ngbTabContent>
          <app-card [title]="'Add User'" [showBreadcrumbs]="true" [titleIcon]="'fa fa-cog'"
            [@fadeInOutTranslate] [cardOptionBlock]="false" class="m-t-15 cardBlock">
            <app-add-user></app-add-user>
          </app-card>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Usage Report">
        <ng-template ngbTabContent>
          <app-card [title]="'Usage Report'" [showBreadcrumbs]="true" [titleIcon]="'fa fa-cog'"
            [@fadeInOutTranslate] [cardOptionBlock]="false" class="m-t-15 cardBlock">
            <app-usage-report></app-usage-report>
          </app-card>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>